:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.text-box {
  background-color: #000;

  border-radius: 8px;
  box-shadow: 5px 5px 5px 3px #343434;

  height: 100px;
  width: 400px;
  margin: 20px;
  padding: 20px;

  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* background-image: url("assets/background.png");
  background-size: cover;
  background-position: center; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #0b9dfe;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 20px;
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0px 0px 5px 3px #0b9dfe;
}

button:active {
  background: #087dcb;
}

.circle {
  border-radius: 50%;
  width: fit-content;
  aspect-ratio: 1 / 1;
}

@media (max-width: 600px) {
  .box {
    width: 90%;
    margin: 20px auto;
    overflow: auto;
  }

  h1 {
    font-size: 2em;
  }
}
